﻿<%@ Page Language="C#" MasterPageFile="~/Master/Main.Master" CodeBehind="Default.aspx.cs" Inherits="Litium.Scensum.BackOffice.Modules.Campaigns.Default" %>

<asp:Content ID="CampaignsTab" ContentPlaceHolderID="body" runat="server">
    <br /><br />Campaigns Main Tab
</asp:Content>