<%@ Page Language="C#"  CodeBehind="Default.aspx.cs" MasterPageFile="~/Master/Main.Master" Inherits="Litium.Scensum.BackOffice.Modules.AddOns.Dashboard.Default" %>

<asp:Content ID="dashboardTab" ContentPlaceHolderID="body" runat="server">
<DIV id=u45 style="width:125px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" ><DIV id=u45_rtf><span style=" font-family:'Arial'; color:#999999; font-size:16px;"><b>Dimensions</b></span></DIV></DIV>
<iframe runat="server" style="width:938px; height:1279px; text-align:left;" frameborder="0" scrolling="no" id="Frame1" />
</asp:Content>
