﻿/* <Esales Ads> */

/* <Master page> */
div.ad-folders-tree{
	padding: 10px 20px 10px 0px;
	width: 210px;
	float: left;
}

div.ad-folders-right{
	padding: 15px 0px 15px 15px;
	vertical-align: top;
	width: 751px;
	float: left;
}

div.ad-folders-tree div.menu-container,
div.ad-folders-tree div.menu-shadow
{
	height: 135px; 
	width: 140px;
}

div.ad-folders-tree div.menu-container-root,
div.ad-folders-tree div.menu-shadow-root 
{
	width: 140px; 
}
/* </Master page> */


div.ad-info .half-width input[type="text"]
{
	width: 325px;
}

div.ad-info .full-width input[type="text"]
{
	width: 100%;
}

div.ad-info div.row
{
	clear:both;
}

div.ad-info div.column
{
	float: left;
}

div.ad-info div.clear-zero-div
{
	line-height: 0px; 
	font-size: 0px; 
	clear:both;
}

div.ad-info-channels, div.ad-info-channel
{
	clear:both;
}

div.ad-info-channel
{
	padding-top: 5px;
}


/* <Collapsible panel> */

div.ad-info-channel div.collapsible-header
{
	background-color: #F2F2F2;
	border: 1px solid #C6C6C6;
	cursor: pointer;
}

div.ad-info-channel div.collapsible-header-item
{
	color:#999999;
	float: left;
	font-size:1.5em;
	font-weight:bold;
	overflow:hidden;
	padding: 10px 20px 8px 7px;
	white-space:nowrap;
	width: 80%;
}

div.ad-info-channel div.collapsible-header-image-block
{
	float: right;
	padding: 12px 7px 11px 20px;
	width: 10%;
}

div.ad-info-channel div.collapsible-content
{
	border: solid 1px #C6C6C6;
	border-top: none;
	padding:10px;
}

/* <\Collapsible panel> */

div.ad-image
{
	padding-top: 10px;
}

div.ad-image div.image-show
{
	height: 155px;
	width: 150px;
}

div.ad-image img.image
{
	max-height: 150px;
	max-width: 150px;
}

div.ad-image div.image-description
{
	padding-top: 15px;
}
