﻿/* < gvSettings > */
.columnsSettingsDiv {
	background-image: url(../Images/Grid/grid-setting.png);
	background-repeat: no-repeat;
	margin-left: -4px;
	padding-top: 8px;
	padding-left: 65px;
	width: 130px;
}

.columnsSettingsDiv:hover {
	cursor:pointer;
}

.mainDiv {
	position: absolute;
	top: 85px; 
	left: 245px;
	width: 464px;
}

.subMainDiv {
	background-color: #E1E1E1;
	border: solid 1px #000;
	margin-top: -5px;
	width: 454px;
	height: 280px;
}

.headerDiv {
	background-image: url(../Images/Grid/header-settings.png);
	background-repeat: no-repeat;
	margin-top: -3px;
	margin-left: -3px;
	height: 50px;	
}

.headerDiv label,
.headerDiv span {
	position: absolute;
	margin: 15px;
	font-size: 19px;
	color: #FFFFFF; 
}

.headerDiv input {
	margin-top: 15px;
	margin-right: 24px;
	float: right;
	font-size: 1.2em;
	font-weight: bold;
}

.descriptionDiv {
	position: absolute;
	margin: 15px;
}

.select {
	margin: 15px;
	margin-top: 40px;
	margin-bottom: 5px;
	width: 424px;
	height: 200px;
}

.subMainDiv .saveButton {
	margin-right: 15px;
	float: right;
	font-weight: bold;
}

.subMainDiv table {
	margin: 15px;
	margin-top: 40px;
	margin-bottom: 5px;
}

/* < gvSettings > */

/* < GridView > */
.gv-Header th {
	border: solid 1px #C6C6C6;
	padding-left:6px;
	padding-right:6px;
}
.gv-Empty th {
	border: solid 10px #C6C6C6;
}

.gv-Row td {
	border: solid 1px #C6C6C6;
	background-color: #fff;
	padding-left:6px;
	padding-right:6px;
}
.gv-Row a {
	color: #004CD5;
	text-decoration: none;
	text-decoration: underline;
}
.gv-Row a:hover {
	text-decoration: underline;
}

div#customer-search-result table
{    
    border: solid 1px White;
    border-top: solid 1px #C6C6C6;
} 

div#customer-search-result table table
{
   border: solid 1px White;
}

.gv-Pager 
{
    border: solid 1px White;
	font-family:'Arial';
	font-size:12px;
	float: none;
}

.gv-Pager table {
	display: block;	
	height: 100%;
	float: right;	
}

.gv-Pager div.paging
{ 
	float: right;
    overflow: visible;
    display: block;
    text-align: right;

}
.gv-Pager td[colspan] {
	width: 100%;
}
.gv-Pager td {
	height: 15px;
	width: 15px;
	text-align: center;
	padding: 1px;
}

.gv-Pager input[type="image"].inactive {
cursor: default;
}
.gv-Pager span {
	color: #000;
	font-weight: bold;
}
.gv-Pager a {
	text-decoration: underline;
	cursor: pointer;
	color: #0000FF;
	min-width: 15px;
	padding: 0px;
}

.gv-Pager a span{
	text-decoration: underline;
	cursor: pointer;
	color: #0000FF;
	height: 17px;
	min-width: 15px;
	text-align: center;
	float: left;
	/*margin: -1px 0px;*/
	padding: 0px;
	padding-top: 2px;
	font-weight: normal;
	width: 20px;
	overflow: visible;
}

div#imageSelect_upArchiveImages .gv-Pager label
{
    padding-top: 5px;
    }


.gv-Pager a:hover {
	text-decoration: underline;
}
.site-structure-grid-area-block-items{
	border: none;
}

.grid-header {
	border: solid 1px #C6C6C6;	
	padding-left:6px;
	padding-right:6px;
	 text-align:left;
	border-top-width:0px;
}
.grid-header-right
{	
	border: solid 1px #C6C6C6;
	border-right-width:0px;
	border-top-width:0px;
}

.grid-header-left
{	
	border: solid 1px #C6C6C6;
	border-left-width:0px;
	border-top-width:0px;
}
.grid-header-wo-padding  {
	border: solid 1px #C6C6C6;
	text-align:left;	
	border-top-width:0px;
}
.grid-header-with-asterisk {
	border: solid 1px #C6C6C6;
	border-top-width:0px;
	padding-right:6px;
	padding-left:2px;
	 text-align:left;
}
.grid-border-right 
{	
	border: solid 1px #C6C6C6;
	border-right-width:0px;
}
.grid-border-left {
	border: solid 1px #C6C6C6;
	border-left-width:0px;
}
.grid-row  {
	border: solid 1px #C6C6C6;
	padding-left: 6px;
	padding-right: 6px;
}
.grid-row-wo-padding  {
	border: solid 1px #C6C6C6;
}
.grid-row-with-asterisk  {
	border: solid 1px #C6C6C6;
	background-color: #fff;
	padding-right: 6px;
}

.grid-row a {
	color: #004CD5;
	text-decoration: none;
	text-decoration: underline;
}
.grid-row a:hover {
	text-decoration: underline;
}
.gv-EmptyData td{
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #C6C6C6;
}


/* </ GridView > */



div.apply-to-all-selected
{
	padding-top: 5px;
	border-bottom: 1px solid #C6C6C6;
	padding-bottom: 5px;
	background-color: #D9E7F7;
	overflow: hidden;
}

div.apply-to-all-selected-2
{
	padding: 5px;
	border: 1px solid #C6C6C6;
	border-top: none;
	background-color: #D9E7F7;
	overflow: hidden;
}