﻿
div#media-folder-list{
	padding: 10px 20px 10px 0px;
	width: 210px;
	float: left;
}
div#media-folder-content{
	padding: 15px;
	vertical-align: top;
	width: 72%;
	float: left;
}

.media-header
{
	color:#969696;
	font-size:16px;
	font-weight:bold;
	margin-right:10px;
}

.media-item-block
{
	border:1px solid #C6C6C6;
	width:230px;
	margin-bottom: 10px;
	float: left;
	display:block;
}

.media-item-information
{
	padding: 10px;
	padding-bottom: 0;
}

.media-item-information-block
{
	width: 220px;
	margin-bottom: 22px;
}

.media-item-information-edit-block
{
	float: left;
	width: 230px;
	margin-bottom: 22px;
}

input.media-item-information-edit-value
{
	width: 225px;
}

div.media-item-information-edit-block input.media-item-information-value 
{
	width: 208px;
}

.media-item-information-value
{
	margin-top: 4px;
}

span.media-item-information-value 
{	
	top: 4px;
}

input.media-item-information-value 
{
	width: 175px;
}

div.media-type-image
{
	float: left;
	width: 60px;
}

div.media-download-document
{
	float: left;
	padding-top: 10px;
}

.media-item-image-wrapper
{
	float: left;
	width: 420px;
	margin-right: 15px;
	min-height: 350px;
}

.media-item-image-wrapper img
{
	border:medium none;
}

.media-item-button-wrapper
{
	float: right;
	margin-right :15px;
	padding-top: 17px;
	margin-bottom: 10px;
	width: 200px;
}

.media-item-main
{
	border-bottom: solid 1px #C6C6C6; 
	float :left;
	width: 667px; 
	min-height: 450px;
	padding-top: 10px;
}


/* < file upload > */
.upload-buttons
{
	width: 130px;
	height: 25px;
}
.media-file-upload
{
	width: 400px;
	height: 25px;
}
.media-info
{
	float: left;
	padding-left: 50px;
}
div#media-upload-zip
{
	float:left;
}
div#media-upload-files
{
	float:left;
	padding-left:182px;
}
div#media-upload-files a
{
	width: 200px;
}
div.upload-folder-select
{
	width: 400px;
}
div#upload-folder-select input[type="text"]
{
	width: 328px;
}
div#upload-folder-select input[type="image"]
{
	vertical-align: bottom;
	padding-bottom: 2px;
	width: 20px;
}
/* </ file upload > */
/* < media list view > */
div.media-sort-view-menu
{
 height:30px;
}
div.media-sort,
div.media-order
{
	float:left;
	padding: 10px 120px 10px 10px;
}
div.media-view
{
	padding: 10px 10px 10px 10px;
	float:right;
}
div.media-list-pagination
{
  color: #000fff;
  font-weight:lighter;
  padding: 2px;
}
div.media-catalog-container
{
	padding: 10px 10px 10px 10px;
}

div.media-catalog-item-container
{
	border: solid 1px #c6c6c6;
	margin:0 4px 8px;
	float: left;
	min-height: 225px;
	min-width: 176px;
}
div.media-catalog-item-container img
{
	border: none;
}
img.image-detail
{
    padding: 17px 13px 0px 13px;
}
div.media-catalog-image
{
	height: 166px;
	vertical-align: middle;
	text-align: center;
}

img.media-catalog
{
	padding-top: 30px;
}

div.media-catalog-name,
div.media-catalog-date
{
	padding: 3px 0px 3px 0px;
	text-align: center;
}
div.media-catalog-name a
{
	font-size: 1.15em;
	color: #fff;
	
	}
div.media-catalog-name-container,
div.media-catalog-name
{	
	background-color: #C6C6C6;
	float: left;	
	width :100%;
}
div.media-catalog-name
{
	border-bottom: solid 1px #c6c6c6;
	border-top: solid 1px #c6c6c6;
	font-weight: 700;
	width: 135px;
	padding-left:10%;
	overflow:hidden;
	height:15px;
}
div.media-catalog-delete
{
	background-color: #c6c6c6;
	width: 23px;
	height: 19px;
	vertical-align: middle;
	text-align: center;
	color: #ffffff;
	font-size: 18px;
	float: right;
	padding-top: 4px;
}
div.media-body-listview-delete a,
div.media-item-image a,
div.media-catalog-delete a
{
	color: #ffffff;
}

div.media-listview-header
{
	background-color:#c6c6c6;
	border:solid 1px #cccccc;
	padding: 2px 4px 2px 6px;
	height:18px;
}
div.media-listview-body
{
	border:solid 1px #cccccc;
	border-top:none;
	float:none;
	height:67px;
}

div.media-listview-body img
{
	border: none;
}
div.media-body-listview-thumbnail,
div.media-body-listview-name,
div.media-body-listview-dimensions,
div.media-body-listview-type,
div.media-body-listview-delete
{
	border-right: solid 1px #cccccc;
	padding: 2px 4px 2px 6px;
	float:left;
	height: 63px;
}

div.media-body-listview-name div
{ 	
	padding-top:25px;
}
div.media-body-listview-dimensions div
{
	padding-top:17px;
}
div.media-body-listview-type div
{
	padding-top:25px;
}
div.media-body-listview-delete div
{
	padding-top:20px;
}

div.media-body-listview-delete
{
	text-align:center;
	border:none;
}
div.media-header-thumbnail,
div.media-header-name,
div.media-header-type, 
div.media-header-dimensions,
div.media-header-delete
{ 
	border-right: solid 1px #cccccc;
	background-color:#c6c6c6;
	color: #ffffff;
	float:left;
	height:14px;

}
div.media-header-thumbnail
{
	padding: 2px 0px 2px 5px;
}
div.media-header-name
{
	text-align:left;
	padding: 2px 0px 2px 13px;
}
div.media-header-type
{
	text-align:left;
	padding: 2px 0px 2px 12px;
}
div.media-header-dimensions
{
	text-align:left;
	padding: 2px 0px 2px 12px;
}

div.media-header-delete
{
	border:none;
}
div.media-body-listview-thumbnail,	
div.media-body-listview-delete,
div.media-header-thumbnail,
div.media-header-delete
{
	width:9%;
}
div.media-body-listview-dimensions,
div.media-body-listview-type,
div.media-header-type, 
div.media-header-dimensions
{
	width:20%;
}
div.media-body-listview-name,
div.media-header-name
{
	width:34%;
}
div.media-item-container
{
	border: solid 1px #cccccc;
	width: 206px;
	margin: 4px 4px 4px 4px;
	float: left;
}

div.media-item-image
{
	text-align: center;
	min-height: 210px;
	min-width: 176px;
}
img.media-item-img 
{
	vertical-align: middle;
}
div.media-dimensions
{
	background-color: #c6c6c6;
	padding: 3px 0px 3px 7px;
	text-align: left;
	font-size: 0.8em;
}
table#media-list
{
	border-left: solid 1px #c6c6c6;
	}

table#media-list
td.thumbnail,
td.name, 
td.dimensions
{
	border-right: solid 1px #c6c6c6;
	border-bottom: solid 1px #c6c6c6;
}
table#media-list td.thumbnail
{
	width: 75px;
	text-align: center;
	padding: 0px 0px;
}

table#media-list img
{
	width: 50px;
	/*height: 60%;*/
	padding: 0px 0px;
	border: none 0px;
}

table#media-list td.name
{
	padding-left: 6px;
	width: 380px;
}
table#media-list td.dimensions
{
	padding-left: 6px;
	width: 175px;
	font-size: 0.8em;
}

table#media-list td.delete
{
	width: 15px;
	background-color: #c6c6c6;
	border-bottom: solid 1px #ffffff;
	padding-left: 0px;
	text-align: center;
}

.media-zoom-image
{
	margin-left:-13px;
	vertical-align: bottom; 
	bottom: 4px;
}
/* < media list view > */

/* <NodeSelect.ascx> */

div#select-folder div.treeview-main-container{
background-color:#FFFFFF;
height:250px;
/*overflow:auto;*/
width: 500px;
}

div#media-folder-list div.menu-container,
div#media-folder-list div.menu-shadow
{ 
	height: 120px; 
}
div#media-folder-list div.menu-container-root,
div#media-folder-list div.menu-shadow-root
{ 
	height: 50px; 
}	
.select-folder-header
{
	background-color:#C6C6C6;
	color:#FFFFFF;
	font-size:1.2em;
	padding:2px 10px;
	width: 206px;
}

div#create-block-subdiv div#select-folder
{
    /*width:394px; margin-left:15px; margin-right:15px; margin-top:15px;*/
    width: 224px; overflow-y:auto; background-color:#FFFFFF;
}

/* </NodeSelect.ascx> */

.paging-selected
{
	color: #000000;
	font-weight: bold;
	font-size: 1.1em;
	cursor: default;
	padding: 0 3px;
	position: relative;
	top: -2px;
}
.paging-items
{
	color: #0000FF;
	font-size: 1.1em;
	text-decoration: underline;
	cursor: pointer;
	padding: 0 3px;
	position: relative;
	top: -2px;
}
div.media-list-paging 
{
	border: solid 1px #C6C6C6;
	border-top: none;
	padding: 2px;
	width: 99.1%;
}
div.media-icons-paging 
{
	padding: 2px;
	width: 99.1%;
}



div.button-left
{
	float: left;
	margin-bottom:10px;
	padding-top:17px;
	width:200px;
}
