﻿/* ---< navigation >--- */

/* < main > */

ul.navigation {
	margin: 0;
	margin-left: 2px;
	padding: 0;
	overflow: hidden;
}

ul.navigation div.prefix,
ul.navigation div.suffix {
	float: left;
	height: 30px;
	width: 6px;
}

ul.navigation div.label {
	float: left;
	padding: 0 25px;
	padding-top: 12px;
	padding-bottom: 10px;
}

ul.navigation li {
	float: left;
	list-style: none;
	margin-right: 5px;
}

ul.navigation li a 
{
	text-decoration: none;
	font-weight: bold;
	font-size: .9em;
}

ul.navigation li a:hover {
	text-decoration: underline;
}

ul.navigation li.active {
	background: #000;
}

ul.navigation li.active div.label * {
	color: #fff;
}

ul.navigation li.active div.prefix {
	background: url(../images/layout/tab-left-on.gif) no-repeat;
}

ul.navigation li.active div.suffix {
	background: url(../images/layout/tab-right-on.gif) no-repeat
}

ul.navigation li.inactive {
	background: #ececec;
}

ul.navigation li.inactive div.label * {
	color: #000;
}

ul.navigation li.inactive div.prefix {
	background: url(../images/layout/tab-left-off.gif) no-repeat;
}

ul.navigation li.inactive div.suffix {
	background: url(../images/layout/tab-right-off.gif) no-repeat
}

/* </ main > */


/* < sub > */

ul.sub-navigation {
	margin-top: 0;
	margin-right: 2px;
	background: #000;
	padding: 10px;
}

ul.sub-navigation li {
	border-right: 1px solid #ffcc00;
	padding: 0 8px;
}

ul.sub-navigation li.last {
	border: none;
}

ul.sub-navigation li a {
	color: #fff;
	font-weight: normal;
	font-size: 1em;
}

ul.sub-navigation li.active a {
	color: #ffcc00;
}

ul.sub-navigation li.inactive{
	background: #000;
}

/* </ sub > */

/* ---</ navigation >--- */