﻿.PopupBackground
{
	background-color: #A7A7A7;
	opacity:.75;
	filter: alpha(opacity=75);
}

div.PopupContainer
{
	
}
div.PopupContainer div.PopupHeader
{
	background-image: url(../Images/Grid/header-settings.png);
	background-repeat: no-repeat;
	
	height: 47px;
	width: 464px;
	
	margin-left: -3px; 
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;

}

div.PopupContainer div.PopupBody
{
	background-color: #E1E1E1;
	border: 1px solid #000000;
	
	height: auto;
	width: 444px;
	
	margin-left: 0px; 
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.PopupHeader span
{
	font-size: 19px;
	float: left;
	color: #FFFFFF;
	margin: 15px;
}

div.PopupHeader input {
	margin-top: 15px;
	margin-right: 24px;
	float: right;
	font-size: 1.2em;
	font-weight: bold;
	font-size: 15px;
}

div.PopupBody .PopupButton
{
	float: right;
}

div.PopupBody .TreeContainer
{
	height: 450px;
	overflow-x: hidden;
	overflow-y: scroll;
}