﻿/* <Rating groups> */

/* <Master page> */
div.rating-groups-tree{
	padding: 10px 20px 10px 0px;
	width: 210px;
	float: left;
}
div.rating-groups-right{
	padding: 15px;
	vertical-align: top;
	width: 72%;
	float: left;
}
div.product-campaigns
{
	float: left;
	width: 100%;
}

div.rating-groups-tree div.menu-container,
div.rating-groups-tree div.menu-shadow
{
	height: 135px; 
	width: 140px;
}
div.rating-groups-tree div.menu-container-root,
div.rating-groups-tree div.menu-shadow-root 
{
	width: 140px; 
}
/* </Master page> */

div.rating-groups input[type="text"] {
	width: 325px;
}

div.rating-groups textarea {
	width: 550px;
}

div.popup-rating-item-container {
	position: absolute;
	width: 558px;
	overflow: hidden;
	height: 600px;
}

div#popup-rating-item-header {
	background-repeat: no-repeat;
	height: 30px;
}

div#popup-rating-item-header div {
	float: left;
}

div#popup-rating-item-header input {
	margin-top: 5px;
	margin-right: 8px;
	float: right;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0px 4px;
}

div#popup-rating-item-header-center label,
div#popup-rating-item-header-center span {
	position: absolute;
	margin: 5px 0 0 15px;
	font-size: 1.5em;
	color: #FFFFFF; 
}

div#popup-rating-item-header-left
{
	background: url('../Images/Assortment/header-left.png');
	width: 7px;
	height: 30px;
}

div#popup-rating-item-header-right
{
	background: url('../Images/Assortment/header-right.png');
	width: 7px;
	height: 30px;
	float: left;
}

div#popup-rating-item-header-center
{
	background: url('../Images/Assortment/header-center.png');
	height: 30px;
	width: 544px;
}

div#popup-rating-item-content
{
	margin: 0px 1px;
	background-color: #FFFFFF;
	border: solid 1px #000;
	width: 535px;
	padding: 10px;
	overflow: hidden;
	height: 300px; 
}

div#popup-rating-item-content input[type="text"] {
	width: 530px;
}

div#popup-rating-item-content textarea {
	width: 527px;
}

/* <Rating groups popup> */

div.popup-rating-groups-container
{
	position: absolute;
	width: 958px;
	overflow: hidden;
	height: 600px;
}

div#popup-rating-groups-header {
	background-repeat: no-repeat;
	height: 30px;
}

div#popup-rating-groups-header div
{
	float: left;
}

div#popup-rating-groups-header-center label,
div#popup-rating-groups-header-center span {
	position: absolute;
	margin: 5px 0 0 15px;
	font-size: 1.5em;
	color: #FFFFFF; 
}

div#popup-rating-groups-header input {
	margin-top: 5px;
	margin-right: 8px;
	float: right;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0px 4px;
}

div#popup-rating-groups-content
{
	margin: 0px 1px;
	background-color: #FFFFFF;
	border: solid 1px #000;
	width: 935px;
	padding: 10px;
	overflow: hidden;
	height: 530px; 
}

div#popup-rating-groups-header-left
{
	background: url('../Images/Assortment/header-left.png');
	width: 7px;
	height: 30px;
}

div#popup-rating-groups-header-right
{
	background: url('../Images/Assortment/header-right.png');
	width: 7px;
	height: 30px;
	float: left;
}

div#popup-rating-groups-header-center
{
	background: url('../Images/Assortment/header-center.png');
	height: 30px;
	width: 944px;
}

div#popup-rating-groups-content-right
{
	float:right;
	width:745px;
}

div#popup-rating-groups-top-menu
{
	min-width: 300px;
	padding-left:20px;
}

div#popup-rating-groups-pick-button
{
	float: right;
	padding: 10px 10px;
 }
 
div#popup-rating-groups-result
{
	width: 936px;
}

div#search-fields-wider div.input-box select
{
	width: 295px;	
}

div.popup-rating-group-grid
{
	float: left;
	padding-left: 10px; 
	width: 670px;
}

div.popup-rating-groups-body
{
	height: 480px;
	overflow: scroll;
}
div.popup-rating-group-buttons
{
	clear: both;
	float: right;
	padding-right: 5px; 
}

div#popup-rating-groups-content div#customer-search
{
	float: left;
	margin: 0;
	padding: 0;
}

div#popup-rating-groups-content .buttons-container
{
	margin-top: 0;
}

div#popup-rating-groups-content div.buttons-container a
{
	padding: 5px 0 0 0;
}

div#popup-rating-groups-content div.input-box-date
{
	padding-right: 10px;
}

div#popup-rating-groups-content div#customer-search-container .assortment-header
{
	margin-top: 0;
}

div#popup-rating-groups-content div.customer-horizontal-separator
{
	height: 1px;
}

div#popup-rating-groups-content div.input-box, 
div#popup-rating-groups-content div.input-box-float-left
{
	margin-top: 0;
}

/* </Rating groups popup> */

/* <Ratings popup> */

div.popup-ratings-container
{
	position: absolute;
	width: 958px;
	overflow: hidden;
	height: 600px;
}

div#popup-rating-groups-header {
	background-repeat: no-repeat;
	height: 30px;
}

div#popup-ratings-header div
{
	float: left;
}

div#popup-ratings-header-center label,
div#popup-ratings-header-center span {
	position: absolute;
	margin: 5px 0 0 15px;
	font-size: 1.5em;
	color: #FFFFFF; 
}

div#popup-ratings-header input {
	margin-top: 5px;
	margin-right: 8px;
	float: right;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0px 4px;
}

div#popup-ratings-content
{
	margin: 0px 1px;
	background-color: #FFFFFF;
	border: solid 1px #000;
	width: 935px;
	padding: 10px;
	overflow: hidden;
	height: 530px; 
}

div#popup-ratings-header-left
{
	background: url('../Images/Assortment/header-left.png');
	width: 7px;
	height: 30px;
}

div#popup-ratings-header-right
{
	background: url('../Images/Assortment/header-right.png');
	width: 7px;
	height: 30px;
	float: left;
}

div#popup-ratings-header-center
{
	background: url('../Images/Assortment/header-center.png');
	height: 30px;
	width: 944px;
}

div#popup-ratings-content-right
{
	float:right;
	width:745px;
}

div#popup-ratings-top-menu
{
	min-width: 300px;
	padding-left:20px;
}

div#popup-ratings-pick-button
{
	float: right;
	padding: 10px 10px;
 }
 
div#popup-ratings-result
{
	width: 936px;
}

div#search-fields-wider div.input-box select
{
	width: 295px;	
}

div.popup-rating-grid
{
	float: left;
	padding-left: 10px; 
	width: 670px;
}

div.popup-ratings-body
{
	height: 440px;
	overflow: scroll;
}
div.popup-rating-buttons
{
	clear: both;
	float: right;
	padding-right: 5px; 
}

div#popup-ratings-content div#customer-search
{
	float: left;
	margin: 0;
	padding: 0;
}

div#popup-ratings-content .buttons-container
{
	margin-top: 0;
}

div#popup-ratings-content div.buttons-container a
{
	padding: 5px 0 0 0;
}

div#popup-ratings-content div.input-box-date
{
	padding-right: 10px;
}

div#popup-ratings-content div#customer-search-container .assortment-header
{
	margin-top: 0;
}

div#popup-ratings-content div.customer-horizontal-separator
{
	height: 1px;
}

div#popup-ratings-content div.input-box, 
div#popup-ratings-content div.input-box-float-left
{
	margin-top: 0;
}

/* </Ratings popup> */