﻿div.startpage-wrapper
{
	float: left;
	width: 996px;
}
div.startpage-left-column
{
	float: left;
	width: 342px;
}
div.startpage-center-column
{
	float: left;
	padding-left: 10px;
	width: 342px;
}
div.startpage-right-column
{
	float: left;
	padding-left: 10px;
	width: 292px;
}
div.startpage-left-column div.panel-top-item-first,
div.startpage-center-column div.panel-top-item-first
{
	width: 228px;
	color: #C6C6C6;
}
div.startpage-right-column div.panel-top-item-first
{
	color: #D7C44C;
}
div.startpage-right-column div.panel-top-item-first
{
	width: 178px;
}
div.startpage-wrapper div.panel-top-wrapper
{
	width: 55px;
	position: relative;
	color: #C6C6C6;
	font-size: 12px;
}
div.startpage-wrapper div.panel-top-wrapper div.scm-selected span
{
	text-align: right;
}
div.startpage-wrapper td, div.startpage-wrapper th
{
	padding: 7px 10px;
}
div.startpage-grid-item
{
	padding: 2px 0;
}
div.startpage-header
{
	float: left;
	padding: 5px 0;
}
div.startpage-header span
{
	font-weight: bold;
	color: #A0A0A0;
	padding-left: 10px;
}
div.startpage-details
{
	float: right;
	padding: 5px 10px 5px 0;
}
div.startpage-details a
{
	color: #A0A0A0;
	text-decoration: underline;
}
div.startpage-rss
{
	float: left;
	width: 288px;
	height: 625px;
	overflow-y: scroll;
	padding-top: 5px;
	border: solid 1px #C6C6C6;
	border-top: none;
	background-color: #F6F6F6;
}
div.startpage-selector
{
	float: right;
	padding-top: 12px;
}
div.startpage-selector div.scm-menu, 
div.startpage-selector div.scm-menu-shadow 
{
	height: 110px;
	width: 90px;
}
div.startpage-bestsellers-container
{
	float: left;
	height: 341px;
}
div.startpage-search-container
{
	float: left;
	height: 355px;
}
div.startpage-performance-container
{
	float: left;
	height: 174px;
}