<%@ Page Language="C#" MasterPageFile="~/Master/Main.Master"  CodeBehind="Default.aspx.cs" Inherits="Litium.Scensum.BackOffice.Modules.SiteStructure.Default" %>

<asp:Content ID="SitStructureTab" ContentPlaceHolderID="body" runat="server">

</asp:Content>
